Test-Command: make mypy
Depends: mypy

Test-Command: make test
Restrictions: allow-stderr

Test-Command: ./example.py
Restrictions: needs-internet

Test-Command: localslackirc --help
Depends: localslackirc
Restrictions: superficial
