Source: typedload
Section: python
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Build-Depends:
 debhelper (>= 13),
 python3-all:any,
 dh-python,
 python3-distutils,
 python3-attr,
 debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://ltworf.github.io/typedload/
Vcs-Browser: https://github.com/ltworf/typedload
Rules-Requires-Root: no

Package: python3-typedload
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Load and dump json-like data into typed data structures in Python3
 This module provides an API to load dictionaries and lists (usually loaded
 from json) into Python's NamedTuples, dataclass, sets, enums, and various
 other typed data structures; respecting all the type-hints and performing
 type checks or casts when needed.
 .
 It can also dump from typed data structures to json-like dictionaries and
 lists.
 .
 It is very useful for projects that use Mypy and deal with untyped data like
 json, because it guarantees that the data will follow the desired schema.
